DISCORD_APPLICATION_ID=
DISCORD_PUBLIC_KEY=
DISCORD_BOT_TOKEN=
DISCORD_GUILD_ID=
DISCORD_DOCUMENT_CHANNEL_ID=
DISCORD_OWNER_USER_ID=

SUPERDOCS_API_KEY=
DRAFTCORD_STORAGE_DIR=./data

PORT=3000
LOG_LEVEL=info
